.introducao-portifolio {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}
.quote-cliente {
  margin: 0 auto;
  padding: 60px;
  max-width: 460px;
}
.quote-cliente p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
}
.quote-cliente cite {
  font-size: 18px;
  font-weight: bold;
  float: right;
  font-style: normal;
  margin-top: 20px;
}
